.header{
    border-bottom: 2px solid black;
    margin: 3% auto;
    width: 70%;
}

.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.link{
    text-decoration: none;
}