.container{
    border: 1px solid black;
    border-radius: 8px;
    margin: 3% auto;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 98%;
    height: 20vh;
    margin: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StudentInfo{
    width: 70%;
    height: 100%;
    border: 1px solid darkgray;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    padding-left: 2%;
}

.StudentInfo h1{
    font-weight: 700;
}

.studentImg{
    width: 70px;
    height: 70px;
    border-radius: 140px;
}

.textInfo{
    color: black;
    font-size: 1rem;
}

.StudentAverage{
    width: 29%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

 .AverageInfo{
    width: 50%;
    height: 100%;
}


.AverageInfo h4{
    padding-left: 4%;
    padding-top: 2%;
    font-size: 1.3rem;
}

.AverageInfo h2{
    padding-left: 4%;
    font-size: 3.4rem;
    font-weight: 500;
}

.DefaultStyle{
    border: 3px solid black;
}

.AverageHigh{
    border: 3px solid #2E8B57;
}

.AverageMedium{
    border: 3px solid #D4A017;
}

.AverageLow{
    border: 3px solid #C0392B;
}

.ECTS{
    padding-left: 4%;
    font-weight: 500;
    font-size: 1rem;
}

.gradesContainer{
    height: 49.5vh;
    width: 98%;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin: 0% auto;
    overflow-y: scroll;
}

.gradesContainer h2{
    padding-left: 1%;
}

.gradesTable{
    width: 95%;
    margin: 1% auto;
    height: 50%;
    text-align: center;
}

.gradesTable th{
    border-bottom: 1px  solid darkgray;
    padding: 1%;
}

.gradesTable td{
    width: 33.3%;
    font-weight: 500;
    padding: 1%;
    border-bottom: 1px solid darkgray;
}

.gradeHigh {
    background-color: #2E8B57;
    color: #fff;
    width: 35%;
    margin: auto;
    padding: 1% 1%;
    border-radius: 8px;
}

.gradeMedium {
    background-color: #D4A017;
    color: #fff;
    width: 35%;
    margin: auto;
    padding: 1% 1%;
    border-radius: 8px;
}

.gradeLow{
    background-color:  #C0392B;
    color: #fff;
    width: 35%;
    margin: auto;
    padding: 1% 1%;
    border-radius: 8px;
}

.NoGrade{
    background-color: transparent;
    color: black;
    width: 35%;
    margin: auto;
    padding: 1% 1%;
}

